#divFormulario {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.formButton{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: #196f3d;
    color: #eaeded;
}