* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1200px;
    height: auto;
    margin: auto;
    background-color: aqua;
}

header {
    max-width: 1200px;
    height: 70px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    color: white;
}

nav {
    max-width: 1200px;
    height: 50px;
    padding-right: 30px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: right;
    align-items: center; /*vertical*/
    background-color: gray;
}

.nav {
    padding: 3px;
}

#hambur {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#divHambur {
    /*display: none;*/
    width: 200px;
    height: 50px;
    background-color: blueviolet;
}

ul {
    list-style: none;
    margin: 10px;
}

main {
    width: 100%;
    height: auto;
    margin: 20px 0px 50px;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: blue;
}

a {
    text-decoration: none;
    color: black;
}

article {
    margin: 5px;
    background-color: brown;
}

img {
    width: 150px;
    height: 150px;
}

.mapa {
    display: flex;
    align-items: center;
}
#mapa {
    width: 300px;
    height: 300px;
    margin: auto;
}

