* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1200px;
    height: auto;
    margin: auto;
    background-color: aqua;
}

header {
    max-width: 1200px;
    height: 70px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    color: white;
}

nav {
    max-width: 1200px;
    height: 50px;
    padding-right: 30px;
    display: flex;

    justify-content: space-between;
    align-items: center; /*vertical*/
    background-color: gray;
}

.nav {
    padding: 3px;
}

.botonesNav {
    display: flex;
    flex-direction: row;
}

#hambur {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: green;
}

/*#divHambur {
    display: none;
    width: 200px;
    height: 50px;
    background-color: blueviolet;
}*/

ul {
    list-style: none;
    margin: 10px;
}
h1 {
    padding: 10px;
    text-align: center;
}
main {
    margin:auto;
    padding: 50px 0px 70px;
    width: 100%;
    height: auto;
    background-color: chartreuse;
}
#contenedorMain{
    width: 80%;
    margin: auto;
    height: auto;
    padding: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: blue;
}

article {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: brown;
}

article h3 {
    padding: 3px;
    text-align: center;
    background-color: blueviolet;
}

article span {
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 150px;
    height: 150px;
}

.mapa {
    display: flex;
    align-items: center;
}
#mapa {
    width: 300px;
    height: 300px;
    margin: auto;
}
#video{
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 500px;
    height: auto;
    padding: 40px;
}

footer {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-content: center;
    background-color: black;
}

