* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: aqua;
}

header {
    max-width: 1200px;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

nav {
    max-width: 1200px;
    height: 50px;
    margin: auto;
    display: flex;
    background-color: gray;
}

.nav {
    padding: 3px;
}

#hambur {
    /*display: none;*/
    width: 50px;
    height: 50px;
    background-color: green;
}

#divHambur {
    /*display: none;*/
    width: 200px;
    height: 50px;
    background-color: blueviolet;
}

ul {
    list-style: none;
    margin: 10px;
}

main {
    width: auto;
    height: auto;
    /*display: flex;*/
    text-align: center; /* revisar*/
    background-color: blue;
}

a {
    text-decoration: none;
    color: black;
}

article {
    display: inline-block; /*¿por que entraron?*/
    margin: 5px;
    background-color: brown;
}

img {
    width: 150px;
    height: 150px;
}

#mapa {
    width: 300px;
    height: 300px;
}